/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap/scss/bootstrap';

.small-container {
  max-width: 650px;
}

.large-container {
  max-width: 960px;
}

.small-container,
.large-container {
  width: 100%;
}

.center-block {
  margin: 0 auto;
}

.padding {
  padding: 10px 15px;
}

.margin-top {
  margin-top: 1.5em;  
}

.field {
  @extend .margin-top;
  
  label {
    @extend .text-uppercase;
    @extend .text-secondary;
  }

  &:first-of-type {
    margin-top: 0;
  }

  input {
    @extend .form-control;
    @extend .bg-light;
  }

  input[type='checkbox'] {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}
